@media screen and (max-width:376px){
    .about>h1{
        padding-top: 70px;
    }
    .about>p{
        text-align: justify;
        width: 90%;
    }
    .about>div{
        height: 1700px;
        width: 90%;
    }
    .selfcard{
        width: 24%;
        height: 25%;
        margin-top: 20px;
    }
}