@media screen and (max-width:376px){
    .services{
        height: auto;
    }
    .services>div{
        height: 1200px;
        width: 90%;
    }
    .services>div>div{
        height: 22%;
        padding-bottom: 30px;
    }

    
    .services>h1{
        padding-top: 70px;
        font-size: 30px;
    }
    .services>p{
        font-size: 16px;
        text-align: justify;
        width: 90%;
    }
}