@media screen and (max-width:376px ){
    .works h1{
        font-size: 30px;
        padding-top: 70px;
    }
    .works p{
        font-size: 16px;
        text-align: justify;
    }
    .btngroup{
        width: 94%;
        margin-bottom: 50px;
    }
    .con{
        height: 1800px;
    }
    .con>div{
        height: 12.5%;
    }
    .con>div{
        margin-bottom: 10px;
    }
    .all1{
        opacity: 1;
        transform: translateX(0);
        transform: translate(0,0) opacity 1200ms;
    }
    .all2{
        opacity: 1;
        transform: translateX(0%);
        transition: transform 500ms,opacity 6500ms;
    }
    .all11{
        opacity: 0;
        transition:  opacity 1200ms ;
    }
     .all22{
        opacity: 0;
        transition: opacit 1300ms;
    }
     .all33{
        opacity: 0;
        transition:  opacity 1400ms;
    }
     .all44{
        opacity: 0;
        transition: opacity 1500ms;
    }
     .all55{
        opacity: 0;
        transition: opacity 1600ms;
    }
     .all66{
        opacity: 0;
        transition:  opacity 1700ms;
    }
     .all77{
        opacity: 0;
        transition:  opacity 1800ms;
    }
     .all88{
        opacity: 0;
        transition:  opacity 1900ms;
    }
    .graphic6{
        transform: translateY(-500%);
        transition: transform 2000ms;
    }
    .brand3{
        transform: translateY(-200%);
        transition: transform 1200ms;
    }
    .brand4{
        transform: translateY(-200%);
        transition: transform 1400ms;
    }
    .brand6{
        transform: translateY(0%);
        transition: transform 1000ms;
    }
    .modal-content{
        width: 90% !important;
    }
    .modal-body>img{
      width: 90% !important;
    } 
}